@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


*, *::before *::after {
    box-sizing: border-box;
    margin: 0;
}

:root {  /* I "root"-elementet deklarerar jag olika variabler med färger som förekommer ofta och på så sätt kan jag enkelt hämta rätt färg med funktionen "var()"  */
    --backgroundColorWhite: #ffffff;
    --backgroundColorGray: #F3F6FF;
    --color-headline-text: #0B0F19;
    --color-gray700-text: #565973;
    --color-gray600-text: #9397AD;
    --color-nav-btn: #6366F1;
    --color-text-navbtn: #ffffff;
    --color-switch-btn: #9397AD;
    --color-nav-btn-hover: linear-gradient(90deg, rgb(99, 102, 241) 0% ,rgb(139, 92, 246) 50% ,rgb(217, 70, 239) 100%);
    --color-download-btn-text: #ffffff;
}

html {
    scroll-behavior: smooth;
}

body {      /* Body-element för att samla alla egenskaper ( properties ) och dess värde. */
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-family: manrope , sans-serif;
    line-height: 1.5;
    background-color: var(--backgroundColorWhite);  
    color: var(--color-paragraph-text);
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-headline-text);
    font-family: manrope , sans-serif;
}

img {
    width: 100%;
    height: auto;
}

.container { /* Elementet container finns med i varje sektion för att "styra" bredden på min webbsida. */
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

header { /* För varje sektion skapar jag en "wrapper" i HTML och här skapar jag ett Element där jag bestämmer värdet på de olika egenskaperna för varje sektion. T.ex. höjd och bakgrundsfärg mm. */
    display: grid; /* Använder Grid för att placera de olika objekten i min header. */
    position: fixed;
    z-index: 1;
    height: 76px;
    max-height: 76px;
    width: 100%;
    margin-left: 312px;
    opacity: 1.0;
    align-items: center;
    grid-template-columns: 3fr 0.25fr 0.15fr 1fr;
   
    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
       
        .switch-and-btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;

            .darkmode-text{
                margin-right: -27px;
                font-weight: 600;
                font-size: 16px;
                font-family: manrope;
                color: var(--color-gray700-text);
            }

            .switch {
                margin-right: -14px;
                margin-top: 1.5rem;
            }

        }
    }
}

button, .btn {  /* Element med egenskaper för knappar på webbsidan. Den här sätter min "grundinställning" men har även skapat separata element för knapparna till App Store och Google Play p.g.a annan design. */
    
    color:var(--color-text-navbtn);
    background-color: var(--color-nav-btn);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 9px;
    padding: 5px 20px;
    border-radius: 4px;
    text-decoration: none;
    gap: 8;
    
    img {
        height: 100%;
        width: auto;
        margin-left: -10px;
    }
    
    &:hover {
    background: var(--color-nav-btn-hover);
    }

}


.hero { 

    min-height: 876px;
    max-height: 876px;
    background: #F1F4FD;
    background:  radial-gradient(at bottom, rgba(99, 101, 241, 10%) 0%, rgba(219, 70, 239, 5%) 42%, rgba(241, 244, 253, 7%) 83%);
    
    .hero-content { /* Skapar en "box" för allt innehåll i Hero-sektionen. */
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr;
        margin-left: 40px;

        .hero-text {

            margin-top: 193px;

            h1 {
            line-height: 125%;
            font-size: 56px;  
            font-weight: 800;
            color: #0B0F19;
            margin-bottom: 0%;
            }

            p {
            line-height: 160%;
            font-size: 18px;
            color: #565973;
            margin-top: 23px;
            font-weight: 400;
            }

        }

        .app-wrapper{   /* En "wrapper" för att ha möjlighet att justera båda apparna som en "box" + att kunna använda "flex" för att få dom på en rad istället för i en kolumn.  */
            display: flex;
            margin-top: 26px;
            
            .appstore-btn {     /* Parametrar för App Store-knappen. */
                width: 180px;
                height: 52px;
                border-radius: 8px;
                border: none;
                background-color: var(--color-headline-text);

                #appstore { height: 35.42px; width: 136px;}

            }   

            .googleplay-btn {   /* Parametrar för Google Play-knappen. */
                display: grid;
                width: 180px;
                height: 52px;
                border-radius: 8px;
                border: none;
                background-color: var(--color-headline-text);
                grid-template-columns: auto 0.7fr auto;
                grid-template-rows: auto 1fr;
                row-gap: 0px;
                column-gap: 0px;
                margin-left: 24px;

                #googleplay1 {margin-left: 2px; margin-right: .5em; margin-top: .3em;}
                #googleplay2 {width: 45.33px; height: 7.14px; grid-area: 1/2; margin-bottom: 1.1em; margin-left: 0em;}
                #googleplay3 {width: 98.94px; height: 19.41px; grid-area: 2/2; margin-top: -1.6em; margin-left: -0.1em;}

            }


        }

        .hero-phone {
        display: flex;
        margin-top: 188px;
        margin-right: -12px;
        }

    }
}


.brands {
    display: flex;
    min-height: 250px;
    max-height: 250px;

    .brands-content{
        height: 100px;
        width: 1296;
        margin-top: 96px;
        margin-left: 40px;
        align-items:flex-start;
        display: inline-flex;
        justify-content: space-evenly;

        #logo-size1 {width: 119px; height: 30px; margin-top: 37px; margin-left: 42px;}  
        #logo-size2 {width: 140px; height: 30px; margin-top: 37px; margin-left: 30px;}
        #logo-size3 {width: 152px; height: 19px; margin-top: 44px; margin-left: 23px;}
        #logo-size4 {width: 134px; height: 34px; margin-top: 35px; margin-left: 32px;}
        #logo-size5 {width: 124px; height: 32px; margin-top: 35px; margin-left: 37px;}          
        #logo-size6 {width: 132px; height: 35px; margin-top: 36px; margin-left: 36px;}          
        
        #b1{width: 196px; height: 100px; border-radius: 8px; border: 1px solid #E2E5F1; margin-right: 21px;}
        #b2{width: 196px; height: 100px; border-radius: 8px; border: 1px solid #E2E5F1; margin-right: 21px;}
        #b3{width: 196px; height: 100px; border-radius: 8px; border: 1px solid #E2E5F1; margin-right: 21px;}
        #b4{width: 196px; height: 100px; border-radius: 8px; border: 1px solid #E2E5F1; margin-right: 21px;}
        #b5{width: 196px; height: 100px; border-radius: 8px; border: 1px solid #E2E5F1; margin-right: 21px;}
        #b6{width: 196px; height: 100px; border-radius: 8px; border: 1px solid #E2E5F1; box-shadow: 1px 3px 1px 2px #e2e5f133;}
    } 
}

.features {
    min-height: 800px;
    max-height: 800px;
    background-color: var(--backgroundColorWhite);

    .features-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 58px;
        margin-left: 40px;
        margin-right: -15px;

        .phone-card {
            height: 684px;
            width: 348px;
        }
        
        .appfeatures-container {
        
            display: grid;
            margin-right: -.5em;
            grid-template-columns: 375px 375px;
            grid-template-rows: 190px 154px 154px 154px;

            .appfeatures-heading {

                grid-row: 1;
                grid-column: 1/ span 2;

                h1 {
                    font-size: 40px;
                    font-weight: 800;
                    line-height: 130%;
                    margin-top: -.3em;
                    color: var(--color-headline-text);
                }

                .appfeatures-txt {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 160%;
                    margin-top: -1.1em;
                    color: var(--color-gray600-text);
                }

            }


            .easy-payments {

                display: grid;
                margin-top: -1em;
                grid-column: 1;
                grid-row: 2;
                grid-template-columns: 130,5px 130,5px;
                grid-template-rows: 59px 59px;

                .img-card {
                    height: 60px; width: 60px;
                }

                .easy-paymentsh5 {
                    grid-area: 1/2;
                    font-size: 21px;
                    font-weight: 800;
                    line-height: 140%;
                    margin-top: -27px;
                    counter-reset: var(--color-headline-text);
                }

                .easy-payments-text {
               
                    grid-area: 2/2;
                    font-weight: 400;
                    line-height: 160%;
                    margin-top: -30px;
                    line-height: .8em;
                    color: var(--color-gray700-text);
                }
            }

            .data-security {

                display: grid;
                margin-top: -1em;
                grid-column: 2;
                grid-row: 2;
                grid-template-columns: 130,5px 130,5px auto;
                grid-template-rows: 59px 59px;

                .img-card {
                    height: 60px; width: 60px;
                }

                .data-securityh5 {
                    grid-area: 1/2;
                    font-size: 21px;
                    font-weight: 800;
                    line-height: 140%;
                    margin-top: -27px;
                    
                    counter-reset: var(--color-headline-text);
                }

                .data-security-text {
                    grid-area: 2/2;
                    font-weight: 400;
                    line-height: 160%;
                    margin-top: -30px;
                    line-height: .8em;
                    color: var(--color-gray700-text);
                }
            }

            .cost-statistics {

                display: grid;
                grid-column: 1;
                grid-row: 3;
                margin-top: -.2em;
                grid-template-columns: 130,5px 130,5px auto;
                grid-template-rows: 59px 59px;

                .img-card {
                    height: 60px; width: 60px;
                }

                .cost-statisticsh5 {
                    grid-area: 1/2;
                    font-size: 21px;
                    font-weight: 800;
                    line-height: 140%;
                    margin-top: -27px;
                    counter-reset: var(--color-headline-text);
                }

                .cost-statistics-text {
                    grid-area: 2/2;
                    font-weight: 400;
                    line-height: 160%;
                    margin-top: -34px;
                    line-height: .8em;
                    color: var(--color-gray700-text);
                }
            }

            .support {

                display: grid;
                grid-column: 2;
                grid-row: 3;
                margin-top: -.2em;
                grid-template-columns: 130,5px 130,5px auto;
                grid-template-rows: 59px 59px;

                .img-card {
                    height: 60px; width: 60px;
                }

                .supporth5 {
                    grid-area: 1/2;
                    font-size: 21px;
                    font-weight: 800;
                    line-height: 140%;
                    margin-top: -27px;
                    counter-reset: var(--color-headline-text);
                }

                .support-text {
                    grid-area: 2/2;
                    font-weight: 400;
                    line-height: 160%;
                    margin-top: -34px;
                    line-height: .8em;
                    color: var(--color-gray700-text);
                }
            }

            .regular-cashback {

                display: grid;
                grid-column: 1;
                grid-row: 4;
                margin-top: .4em;
                grid-template-columns: 130,5px 130,5px auto;
                grid-template-rows: 59px 59px;

                .img-card {
                    height: 60px; width: 60px;
                }

                .regular-cashbackh5 {
                    grid-area: 1/2;
                    font-size: 21px;
                    font-weight: 800;
                    line-height: 140%;
                    margin-top: -27px;
                    counter-reset: var(--color-headline-text);
                }

                .regular-cashback-text {
                    grid-area: 2/2;
                    font-weight: 400;
                    line-height: 160%;
                    margin-top: -34px;
                    line-height: .8em;
                    color: var(--color-gray700-text);
                }   
            }

            .top-standards {

                display: grid;
                grid-column: 2;
                grid-row: 4;
                margin-top: .4em;
                grid-template-columns: 130,5px 130,5px auto;
                grid-template-rows: 59px 59px;

                .img-card {
                    height: 60px; width: 60px;
                }

                .top-standardsh5 {
                    grid-area: 1/2;
                    font-size: 21px;
                    font-weight: 800;
                    line-height: 140%;
                    margin-top: -27px;
                    counter-reset: var(--color-headline-text);
                }

                .top-standards-text {
                    grid-area: 2/2;
                    font-weight: 400;
                    line-height: 160%;
                    margin-top: -34px;
                    line-height: .8em;
                    color: var(--color-gray700-text);
                }
            }

        }
    }
}

.how-does-it-work {
    height: 1077px;
    min-height: 1077px;
    max-height: 1077px;
    background-color: var(--backgroundColorGray);

    .how-does-it-work-content {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;

        h1 {
            display: flex;
            align-items:center;
            justify-content: center;
            color: var(--color-heading-text);
            font-size: 40px;
            font-weight: 800;
            margin-top: 73px;
            margin-left: 58px;
            
            
        }

        .all-phones {
            display: inline-flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-top: 17px;
            margin-left: 96px;

            .phone1 {
                margin-right: 0px; 
            }

            .phone2 {
                margin-left: 4px;
                margin-right: 0px;
            }

            .phone3 {
                margin-left: 0px;
                margin-right: 40px;
            }
        }

        .page-footer {
            display: block;
            justify-content: center;
            align-items: center;
            margin-left: 59px;

            .bottom-text-h4 {
                font-size: 24px;
                font-weight:800;
                display: flex;
                justify-content: center;
                color: var(--color-headline-text);
                margin-top: 4px;
                margin-bottom: -36px;
            }

            .bottom-text-paragraph {
                display: flex;
                justify-content: center;
                text-align: center;
                font-weight: 400;
                line-height: 160%;
                color: var(--color-paragraph-text);
            }

        }
    }
}

.subscribe {
    min-height: 282px;
    max-height: 282px;
    margin-left: 79px;
    background-color: var(--backgroundColorWhite);

    .subscribe-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 222px;
        width: 1290px;
        margin-top: 30px;
        border-radius: 8px;
        background-color: var(--backgroundColorGray);

        .img-and-text {
            gap: 32px;
            display: flex;
            font-size: 24px;
            font-weight:800;
            margin-left: 110px;
            color: var(--color-headline-text);
            
        }

        .link-and-btn {
            
        }

    } 
}

.footer {
    min-height: 130px;
    max-height: 130px;

    .footer-content {



    }
}
