@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


*, *::before *::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --backgroundColorWhite: #ffffff;
    --backgroundColorGray: #F3F6FF;
    --color-headline-text: #0B0F19;
    --color-paragraph-text: #565973;
    --color-nav-btn: #6366F1;
    --color-text-navbtn: #ffffff;
    --color-dark-mode-text: #565973;
    --color-switch-btn: #9397AD;
    --color-nav-btn-hover: linear-gradient(90deg, rgb(99, 102, 241) 0% ,rgb(139, 92, 246) 50% ,rgb(217, 70, 239) 100%);
    
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-family: manrope , sans-serif;
    line-height: 1.5;
    --backgroundColorWhite: #ffffff;  
    --color: #565973;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-heading-text);
    font-family: manrope , sans-serif;
}

img {
    width: 100%;
    height: auto;
}
.container {
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;

}

header {
    
    display: grid;
    position: fixed;
    z-index: 1;
    height: 76px;
    max-height: 76px;
    width: 100%;
    margin-left: 312px;
    opacity: 1.0;
    align-items: center;
    grid-template-columns: 3fr 0.25fr 0.15fr 1fr;
    
    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
       
        .switch-and-btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;

            .darkmode-text{
                color: var(--color-dark-mode-text);
            }

            .switch {
                margin-top: 1.5rem;
                
            }

        }
    }
}

button, .btn {
    
    color:var(--color-text-navbtn);
    background-color: var(--color-nav-btn);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 9px;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    gap: 8;
    
    img {
        height: 100%;
        width: auto;
    }
    
    &:hover {
    background: var(--color-nav-btn-hover);
    }

}

.hero {

    min-height: 876px;
    max-height: 876px;
    background: #F1F4FD;
    background: linear-gradient(170deg,rgb(99, 101, 241,0.1) 0% ,rgb(218, 70, 239,0.05) 42%, rgb(241, 244, 253,0.07) 83%);
    padding: 0%;
    

    .hero-content {
        display: grid;
        justify-content: space-between;
        text-align: left;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr;
        margin-left: 40px;
        

        .hero-text {

            margin-top: 217px;

            h1 {
            line-height: 125%;
            font-size: 56px;  
            color: #0B0F19;
            margin-bottom: 0%;
            }

            p {
            line-height: 160%;
            font-size: 18px;
            color: #565973;
            margin-top: 23px;
            
            }
        }

        .hero-apps{
            display: inline-flex;
            min-height: 52px; 
            min-width: 180px;
            margin-top: 3px;
            gap: 24px;
            
        }

        .hero-phone {
        display: flex;
        margin-top: 188px;
        margin-right: -12px;
        }

    }
}

.brands {
    display: flex;
    min-height: 250px;
    max-height: 250px;
    background-color: var(--backgroundColorWhite);

    .brands-contet{

    }
}

.features {
    display: flex;
    min-height: 854px;
    max-height: 854px;
    background-color: var(--backgroundColorWhite);

    .features-content{
        height: 150px;
        width: 150px;
        background-color: #0B0F19;

    }
}